/* Custom theme for peppercarrot.com
 * Copyright (c) 2015 David Revoy,GPL license
 * (http://www.gnu.org/licenses/gpl.html )*/

@font-face {
	font-family: 'ComicSpice';
	src: url('../font/ComicSpice.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* rewrite plucss rules */
body { background-color: #fff; }
.button { border-radius: 0.4rem; }
.containercomic { margin:0 auto; padding-left:1rem; padding-right:1rem; width:100% }
.menu.expanded li:hover { background-color: rgba(255,255,255,0); }
.menu.expanded li.active:hover { background-color: rgba(255,255,255,0); color: rgba(255,255,255,0);; }

/* general styles */
body { color: #232323; font-family: ubuntu, helvetica, arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'ComicSpice', cursive, sans-serif;}
h1{font-size:2.4rem}
h2{font-size:2.0rem;}
h3{font-size:1.5rem; margin-top:0.6rem;}
h4{font-size:1.2rem}

/* title */
.header { background: url('../img/header-bg.jpg') center center; box-shadow: inset 0 0.5em 3em #3A2619; }
.header a { text-decoration: none;}
.header h1 { font: normal 3.2rem 'ComicSpice', cursive; }
.header h1 a { color: #FFF }
.header h2 { color: #FFF; font: normal 1.5rem 'ComicSpice', cursive; line-height: 20%; padding-bottom: 0.8rem; }
.title { min-width: 280px; }

/* network on top */
.follow { margin-top: 0.3rem; }
.follow .logo { margin-right: 3px; }
.follow a { color: #FFF;}
.follow a:hover { opacity: 1; }

/* main menu */
.menu.expanded { padding: 0 0 0 0; margin: 1.2rem 0 0 0; font: normal 1.9rem 'ComicSpice', cursive; }
.menu.expanded li a { box-shadow: 0 0.2rem 0.4rem #3A2619; border-top-left-radius: 0.4rem; border-top-right-radius: 0.4rem; border-top: solid 1px #F3EDE8;  }
.menu.expanded li a:hover { text-shadow: 1px 0px 20px yellow; color:#fff; transition: all 0.2s ease-in; }
.menu.expanded a { color: #3A2619; font-size: 1.6rem; }
.menu.expanded li.active a, .menu.expanded li.active a:hover { color: #000; background-color: #FFF;  }
.menu.expanded li.external a:hover { color: #FFF; }
.menu.expanded li.external i { font-size: 0.8rem;}
.responsive-menu label { color: #3A2619; background-color: transparent; font: normal 2rem 'ComicSpice', cursive; }

/* translation pills */
.translabar { padding: 0 0 0 0; margin: 0.5rem 0; max-width: 990px }
.translabar li { background-color: #FFF; margin: 0.2rem; padding: 0.3rem 0.4rem; border: solid 1px #D7EBFA; border-radius: 10px }
.translabar li.active { background-color: #D7EBFA; border: solid 1px #B1D6F2;}
.translabar a { text-decoration: none; font-size: 0.9rem; }

/* HOMEPAGE */
/* cover */
.cover { height: 400px; border-radius: 0.4rem; color:#DDD; margin-bottom: 0.3rem; background: url('../img/pepper-carrot-cover2_by-david-revoy.jpg') no-repeat center left; }
.cover h1 { color: #FFF; text-shadow: 0 2px 2px #000; margin: 0.4rem; line-height: 2.6rem; font-size: 2.4rem; text-align:right; }
.covertextoverlay { position: absolute; right: 2.5rem; top: 1.6rem; text-align:right; }
#coverpatreonbox { color: #222; background-color: #FFF; width: 365px; height: 147px; padding: 10px 4px; margin: 2.5rem 0 0 auto; text-align: center; font-size: 1.2rem; box-shadow: 0 3px 3px rgba(0,0,0,0.3); }
#coverpatreonbox img{ margin-top: 6px; }
#alternatives { color: #8F8F8F; position: absolute; bottom: 10px; width: 340px; font-size: 0.95rem; text-align: center;  }
#alternatives .link { color: #8F8F8F; text-decoration: underline; }
#alternatives .link:hover { color: #333; }
.homepage-title { font-family: 'ComicSpice', cursive; font-size:1.5rem;}
.joinnow { color: #fff; background-color: #232D32; padding:0.8rem 0.7rem 0.6rem 0.7rem; border-radius: 0.4rem; box-shadow: 0 5px 5px rgba(23,23,23,0.3);}
.joinnow:hover { color: #fff; text-decoration: none; background-color: #223B48; }
.moreinfo { color: #587930; background: #a7e059; background: linear-gradient(#baf765, #a7e059); padding:0.8rem 0.7rem 0.6rem 0.7rem; border-radius: 0.4rem; box-shadow: 0 5px 5px rgba(23,23,23,0.3);}
.moreinfo:hover { color: #82C036; text-decoration: none; background: #a7e059; background: linear-gradient(#EDFFA6, #a7e059); }
/* box */
.homebox { position: relative;}
.homebox h2 { font: normal 1.5rem 'ComicSpice', cursive; margin: 0 0 0.4rem 0; padding: 0 0; min-height: 1rem; text-decoration: none; overflow: hidden; white-space: nowrap; }
.news {margin-bottom: 1rem;}
/* last episode */
.lastep { position: relative; border-radius: 0.4rem; }
.lastep img { border: solid 1px #EFEFEF; border-radius: 0.4rem; border: solid 1px #EFEFEF; width:100% }
.lastep img:hover { border: solid 1px #258fd6; }
.lastep figcaption{ color: #fff; font-weight: bold; width:100%; position:absolute; padding: 0.3rem;top: 0px; text-align:center; width:100%; text-decoration: none; font-size: 0.85rem; overflow: hidden; white-space: nowrap; margin-bottom: 0.3rem; }
.lastep .detail, .homethumbnail .detail a{ color: #fff; font-size: 0.85rem; text-shadow: 0 2px 2px #000; }
/* news and update */
.homethumbnail { background-color: #FFF; position: relative; border: solid 1px #EFEFEF; border-radius: 0.4rem; }
.homethumbnail img { border-radius: 0.4rem; width:100% }
.homethumbnail:hover { border: solid 1px #258fd6; }
.homethumbnail figcaption{ width:100%; position:absolute; padding: 0.3rem;bottom: 0px; left:0px; width:100%; min-height: 2.3rem; text-decoration: none; font-size: 0.85rem; overflow: hidden; white-space: nowrap; margin-bottom: 0.3rem; background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.85) 30%,rgba(255,255,255,1) 100%); }
.homethumbnail figcaption a { color: #111; }
.homethumbnail figcaption a:hover { text-decoration: none; color: #258fd6; }
.homethumbnail .detail, .homethumbnail .detail a{ color: #666; font-size: 0.8rem; }
.moreposts { font-size: 0.8rem; width: 100%; text-align: right; margin: 1rem 0 0 0; }
.moreposts i{ margin: 0 0 0 0.3rem; }

/* UTILS */
/* thumbnail+caption under */
.thumbnail img { border: solid 1px #EFEFEF; border-radius: 0.4rem;}
.thumbnail img:hover { border: solid 1px #258fd6; }
.thumbnail figcaption{ min-height: 2.3rem; text-decoration: none; font-size: 0.85rem; overflow: hidden; white-space: nowrap; margin-bottom: 0.3rem; }
.thumbnail figcaption a { color: #444; }
.thumbnail figcaption a:hover { text-decoration: none; color: #258fd6; }
.thumbnail .detail, .thumbnail .detail a{ color: #BBB; font-size: 0.8rem; }

/* Protect SVG icons */
.lastep .svg, .lastep .svg:hover, .homethumbnail .svg, .thumbnail .svg:hover, .thumbnail .svg { width: auto; border:none; }

pre,code { color:#111; background-color: #f7f7f7; padding: 1em; line-height: 1.45; border-radius: 3px; font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace; overflow:auto; }
.post { background-color: #FFF; padding: 2rem; box-shadow: 0 0 1rem rgba(23,23,23,0.3); margin-bottom: 2rem; border-radius: 0.4rem; }
.post h1,.post h3 { margin-top: 0; color: #000;}
.post h1 a { color: #2c2c2c;}

.page h2 { margin-top: 0.2rem;}

.category { padding-top: 2rem;}

input[type=search] { margin: 1.2rem 0 0 0; background: #ededed url(../img/search.png) no-repeat 9px center; padding: 9px 10px 9px 32px; }

.arrow a { font-size: 2em; color: #2D2D2D; font-family: 'ComicSpice', cursive; text-decoration: none;}
.arrow { position: relative; padding: 0px;}
.arrow img { padding: 0; box-shadow: 0 2px 3px rgba(23,23,23,0.3); }
.left { float: left;}
.right { float: right;}

.article { margin: 1.2rem 0 0 0;}
.article header{ text-align: center;}
.article header h1 { font-size: 2rem; margin-bottom: 0; margin-top:0;}
.article header h1 a { color: #444; }
.article header h1 a:hover { color: #258fd6; text-decoration: none; }
.article footer { padding-top: 1.3rem }


/* Navigation for reading comic ( prev/next ) */
.readernav { margin 1.2rem 0 1.2rem 0; padding: 0.6rem 0 0 0; clear:both; max-width: 915px }
.readernavbutton { display:block; width: 100%; background-color: #FFF; margin-bottom: 0.2rem; padding: 6px 8px 6px 8px; font-size: 1.5rem; font-family: 'ComicSpice'; text-decoration: none;}
.readernavbutton:hover { text-decoration: none;}
.readernavbutton .smaller { font-size: 1.1rem; color: #6daae2;}
.off, .off:hover { color: #EEE; cursor: not-allowed;}
.off img { opacity: 0.05; }
.off .smaller { color: #EEE;}

/* EPISODE END */
/* ----------- */
/* link to sources */
.sourcebutton { font-size: 1rem; display: block; max-width: 780px; padding: 0 auto; margin: 0 auto; background: url('../img/source-carrot-illustration.png') no-repeat center left; min-height: 80px; text-align: center;}

/* Follow me footer webcomic */
.followcomic { padding: 0 0; margin: 0 0; font-size: 1.3rem; color: #000; font-family: 'ComicSpice';}
.followcomic b{ font-size: 1.5rem;}
.followbutton { display: block; text-decoration: none; color: #FFFFFF; width: 100%; padding: 0.1rem 0.5rem; margin: 0.1rem 0rem; border-radius: 10px; box-shadow: 0 2px 3px rgba(23,23,23,0.3); }
.followbutton:hover { text-decoration: underline; color: #FFF; }

/* Support */
.patreon { box-shadow: inset 0 0 1em #CCC; padding: 1.5rem 0 0 0; margin: 0 auto; background: url('../img/followbackground_patreon-logo.png') no-repeat center left; background-color: #FFF; min-height: 80px; max-width:650px; text-align: center; color: #111; font-size: 1.5rem; }
.patreon:hover { color: #111; }
.supportmetxt { color: #C8C8C8; font: 0.8rem ubuntu,Arial,sans ;}
.supportmetxt a { color: #C8C8C8; text-decoration: underline; }
.donationillustration { display: block; min-height: 280px; background: url('../img/followbackground_patreon_illu.jpg') no-repeat center;}
.paypal { min-height: 45px; text-align: center;}
div.paypal form { margin-bottom: 0; display: inline;}
div.paypal form input { padding: 0; background: transparent; border: 2px inset #D9D9D9; width: auto; border-radius: 0; }

/* Network */
.twitter { background: url('../img/followbackground_twitter.jpg') no-repeat center left; background-color: #3DB8E4; min-height: 80px; text-align: right;}
.facebook { background: url('../img/followbackground_facebook.jpg') no-repeat center left; background-color: #345695; min-height: 80px; text-align: right;}
.googleplus { background: url('../img/followbackground_googleplus.jpg') no-repeat center left; background-color: #DA5E3C; min-height: 80px; text-align: right;}

/* Share */
.share { padding-top: 0.5rem; color: #C8C8C8; }
.share a { color: #C8C8C8; }
.share a:hover { text-decoration: underline; }

/* More */
.more {text-align: right;}
.more a { background-color: #659EBD; color: #FFF; margin-bottom: 0.2rem; padding: 6px 8px 6px 8px; border: solid 1px #659EBD; border-radius: 10px; text-decoration: none; }
.more a:hover { background-color: #D7EBFA; color: #659EBD; border: solid 1px #B1D6F2; padding: 6px 8px 6px 8px; border-radius: 10px;}
.tabletransla td, th {padding: 0.3rem;}

/*     BLOG    */
/* ----------- */
/* Listing */
.limit {margin-top:1rem; margin-bottom:1rem; color:#aaa;}

/* Sidebar */
.aside { padding-top: 1rem;  }
.catbutton { border-radius: 0.4rem; box-shadow: 0 0.1rem 0.1rem #C6BCB5; background: url('../img/bg.jpg'); font: normal 1.4rem 'ComicSpice', cursive; text-align: left; width: 100%; color: #111111; padding: 0.2rem 0.7rem 0.4rem 1rem; box-sizing: border-box; display: block; margin-bottom: 0.5rem; }
.catbutton.active { color: #111; background: #fff; }
.catbutton:hover { text-shadow: 0px 0px 10px #258FD6; color:#fff; }
.catbutton a { color: #3A2619; font-size: 1.6rem; }
.catbuttonnumber { color: #6F5341; padding:0 0.2rem; border-radius: 0.3rem; margin: 0 0 0 0.2rem; font-size: 0.9rem; text-shadow: none; }
.lastcom a{ font-size: 0.8rem; color: #333; }
.lastcom li { margin: 0.3rem; padding: 0.3rem; }
.tag { border-radius: 0.4rem; box-shadow: 0 0.1rem 0.2rem rgba(58,38,25,0.3); line-height: 2.3rem; padding: 0.3rem; margin: 0 0.1rem 1.4rem 0; background-color: rgba(255,255,255,0.6); }
.tag-size-1 {font-size: 0.6rem; color: #333; }
.tag-size-2 {font-size: 0.7rem; color: #333; }
.tag-size-3 {font-size: 0.8rem; color: #333; }
.tag-size-4 {font-size: 0.9rem; color: #333; }
.tag-size-5 {font-size: 1rem; color: #333; }
.tag-size-6 {font-size: 1.1rem; color: #333; }
.tag-size-7 {font-size: 1.2rem; color: #333; }
.tag-size-max {font-size: 1.4rem; color: #333; }

/* Sidebar (wiki specific) */
.edit {padding-left: 1.2rem; line-height: 1.6;}
.edit img {opacity: 0.8; }

/* Comments */
.comments { max-width: 720px; margin: 0 auto; padding:0 0;}
.singlecom { padding: 0.5rem 0; text-align: justify; }
.com_content { max-height: 32em; overflow-y: auto; overflow-x: hidden; padding-right:1.5rem; }
.admin { background-color: #F5F9FC; }
.level-0 {margin-left: 0; border-top: solid 1px #EEE;}
.level-1 {margin-left: 8rem; border-left: double 5px #F5F9FC; }
.level-2 {margin-left: 8rem; border-left: double 5px #F5F9FC; }
.level-3 {margin-left: 8rem; border-left: double 5px #F5F9FC; }
.level-4 {margin-left: 8rem; border-left: double 5px #F5F9FC; }
.level-5,.level-max {margin-left: 8rem; border-left: double 5px #F5F9FC; }
.nbcom {background-color: #258fd6;color: #fff;padding: .2rem .3rem;}
.nbcom:hover {background-color: #3a6c96;color: #fff;text-decoration: none;}
.capcha-letter,.capcha-word {font-weight: bold;}
.capcha-word {background-color: #ccc;letter-spacing: 0.3em;	padding: .525rem .7rem;}

/*     STATIC PAGES    */
/* ------------------- */
/* Philosophy page */
.philosophy { text-align: center; }
.philosophy h2{ font-size: 2.6rem; }
.philosophy img{ padding-bottom: 3.8rem; }
.philobutton { text-align: center; padding: 0.9rem; margin: 0 auto; max-width: 570px;  }
.philobutton a{ color: #ED7E78; }
.philobutton:hover { background-color:#FFF; }

/* Sources  */
.source { background-color: #FFF; margin-bottom: 2rem; font-size: 1rem; }
.filesize { font-size: 0.7rem; color: #999; }
.sourcescaptions {height: 3rem;}
.buttonkrazip { background: #AE6A6A; background-image: linear-gradient(to bottom, #f7f7f7, #ababab); border-radius: 0.6rem; color: #262526; border: solid #DADADA 1px; margin: 0 0 0 0; padding: 0.6rem;}
.buttonkrazip .ico{ font-size: 24px; float:left; color: #888; margin: 5px 10px 0 5px; }
.buttonlangzip {background: #AE6A6A; background-image: linear-gradient(to bottom, #f7f7f7, #ababab); border-radius: 0.6rem; color: #262526; border: solid #DADADA 1px; margin: 1rem 0 2rem 0; padding: 0.6rem;}
.buttonlangzip .ico{ font-size: 24px; float:left; color: #888; margin: 5px 10px 0 5px; }
.content { max-width: 1000px; margin: 0 auto; }
.content img{ margin-top: 0.7rem; }
.readme { font-size: 0.8rem;}
.readme ul {  margin: 0; padding: 0; }
.readme li { margin: 0; padding: 0; }
.readme h1,.readme h2 { font-size: 1.4rem;}

.cc { font-weight: bold; color: #111; padding: 0.1rem 0.3rem 0.3rem 0.3rem;}
.license { margin: 0 0 1.2rem 0;}
ul.menu.tag li a.button{ margin: 0 0 1.2rem 0;}

/* Banner ( hidden )  */
.banner { height: 120px; max-width: 1180px; margin-top: 1rem; background: url('../img/banner_001.jpg') no-repeat center left; border-radius: 0.4rem; color:#505E61; text-align:center; border: solid 1px #FFF;}
a:hover { text-decoration:none;}
.banner:hover { border: solid 1px #258fd6; }
.bannertext { font-family: 'ComicSpice'; color: #FFF; text-shadow: 0 2px 2px #000; margin: 0.4rem; font-size: 2.4rem; }

/* RESPONSIVE RULES*/
/* mini laptop */
@media (max-width: 1255px) {
.menu.expanded a { font-size: 1.5rem; }
}

/* pad */
@media (max-width: 1050px) {
.cover h1 { font-size: 2.2rem; }
}

/* phone */
@media (max-width: 980px) {
.menu.expanded a { font-size: 1.3rem; }
}

/* vertical */
@media (max-width: 900px) {
input[type=search] { margin: 1.2rem 0 1.2rem 0; max-width: 300px; }
.cover h1 { font-size: 2.2rem; margin: 1rem 0 0.4rem 0; }
.cover { background: url('../img/pepper-carrot-cover2_by-david-revoy.jpg') no-repeat 25% 80%; }
.moreposts { text-align: center; margin: 1rem 0 0 0; }
}

/* vertical++ */
@media (max-width: 700px) {
.cover h1 { font-size: 1.8rem; margin: 0.3rem 0 0.4rem 0; }
.cover { height: 350px; background: url('../img/pepper-carrot-cover2_by-david-revoy.jpg') no-repeat 35% 5%; }
.covertextoverlay { right: 1.3rem;}
}

/* small */
@media (max-width: 500px) {
.cover { height: 600px; }
/* Comments */
.singlecom { padding: 0.5rem 0; text-align: justify; }
.com_content { padding-right:0.5rem; }
.admin { background-color: #F5F9FC; }
.level-0 {margin-left: 0; border-top: solid 1px #EEE;}
.level-1 {margin-left: 1.5rem; border-left: double 5px #F5F9FC; }
.level-2 {margin-left: 1.5rem; border-left: double 5px #F5F9FC; }
.level-3 {margin-left: 1.5rem; border-left: double 5px #F5F9FC; }
.level-4 {margin-left: 1.5rem; border-left: double 5px #F5F9FC; }
.level-5,.level-max {margin-left: 1.5rem; border-left: double 5px #F5F9FC; }
.nbcom {background-color: #258fd6;color: #fff;padding: .2rem .3rem;}
}

/* miniphone */
@media (max-width: 400px) {
.cover { color: #FFF; height: 800px; }
.percentdomain {width:295px;}
.cover h1 { font-size: 1.48rem; color: #111; margin: 0.3rem 0 1.1rem 0; text-shadow:none; }
.joinnow { font-size: 0.8rem }
.moreinfo { font-size: 0.8rem }
.cover { background: url('../img/pepper-carrot-cover2_by-david-revoy.jpg') no-repeat 28% bottom; }
.buttoncoverbox { top: 0px; right: 1.3rem; padding-right: 0.5rem} 
}

/* footer */
.footer { background: url('../img/header-bg.jpg') center center; box-shadow: inset 0 0.5em 3em #3A2619; color: #3A2619; }
.footer p{ font: normal 0.8rem Helvetica,arial,sans-serif; }
.footer .button{ background-color: #444; }
.footer li a{ border:none; }
.footer a{ color: #3A2619; text-decoration: underline; }
.footer li a:hover{ border:none; text-decoration: none; color: #258fd6}
.reshare input { max-width: 460px; font-size: 0.8rem; margin: 0 0 1rem 0; }
.footer .menu.expanded { padding: 0 0 0 0; margin: 1.2rem 0 0 0; font: normal 0.8rem 'ComicSpice', cursive; }
.footer .menu.expanded a:hover { background-color: #aaa; }
.footer .menu.expanded li:hover { background-color: #2D2D2D; }
.footer .menu.expanded a { color: #FFF; font-size: 1rem; background-color: #444; margin: 0 0.6rem 0.6rem 0 ;}
.footer hr { border: solid 1px #333;  }

.main {	background-color: #fff;	margin-bottom: 2rem;}

/* blog pager */
.pagination a {	background-color: #258fd6;color: #fff;padding: .525rem .7rem;}
.pagination a:hover {background-color: #3a6c96;	color: #fff;text-decoration: none;}
.pagination span:first-letter,.pagination a:first-letter {text-transform: uppercase;}
.p_first,.p_prev,.p_current,.p_next,.p_last {display: inline-block;}

